<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699740743462-u8c9blppmdaho4d4qk0ri8l6l38rk7sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699740743462-u8c9blppmdaho4d4qk0ri8l6l38rk7sr</string>
	<key>API_KEY</key>
	<string>AIzaSyCJLGKfgjrA66WyUrdRrtt8AT8Td29ME48</string>
	<key>GCM_SENDER_ID</key>
	<string>699740743462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Narely.Cabeleleila-Leila</string>
	<key>PROJECT_ID</key>
	<string>cabeleleila-leila-aff8d</string>
	<key>STORAGE_BUCKET</key>
	<string>cabeleleila-leila-aff8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699740743462:ios:bbebaeedf8d41c31a403e7</string>
</dict>
</plist>